header {
  height: 80px;
  width: 100%;
  background-color: black;
  position: fixed;
  top:0;
}

header > div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 75px;
}

.nav-bar  {
  width: 20%;
  max-width: 250px;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Turret Road', cursive;
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(red, yellow, green, blue);
}

.lion-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.lion {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  background-color: black;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  align-items: center;
}

.red {
  border-color: red;
  background-color: red;
}
.green {
  border-color: green;
  background-color: green;
}
.blue {
  border-color: blue;
  background-color: blue;
}
.yellow {
  border-color: yellow;
  background-color: yellow;
}

.lion img{
  width: 100%;
}


#voltron {
  display: none;
  width: 60%;
  position: absolute;
  max-width: 500px;
}

#nav-btn {
  display: none;
  background-color: black;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
}

@media screen and (max-width: 1100px){
  .nav-bar {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    background-color: black;
    position: fixed;
    right: 0;
    top: 80px;
    /* translate is the css function that will slide it across the frame */
    transform: translate(300px, 0);
    transition: .5s;
    /* makes the transsition smooth so it doesn't pop out of nowhere like a ghost */
    transition-timing-function: ease-in-out;
  }

  /* related to toggle function */
  .show {
    transform: translate(0, 0);
  }

  .nav-bar ul{
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: absolute;
    top: 30px;
  }

  #nav-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  #voltron {
    display: block;
    animation: fade-in 4s;
  }

  .black {
    animation: zoom-black 3s ease-out;
    /* how you want the animation to affect the div, in other words, how you want the animation to persist */
    animation-fill-mode: forwards;
  }

  .red {
    animation: zoom-black 3s ease-out;
    /* how you want the animation to affect the div, in other words, how you want the animation to persist */
    animation-fill-mode: forwards;
  }

  .green {
    animation: zoom-black 3s ease-out;
    /* how you want the animation to affect the div, in other words, how you want the animation to persist */
    animation-fill-mode: forwards;
  }

  .blue {
    animation: zoom-black 3s ease-out;
    /* how you want the animation to affect the div, in other words, how you want the animation to persist */
    animation-fill-mode: forwards;
  }
  
  .yellow {
    animation: zoom-black 3s ease-out;
    /* how you want the animation to affect the div, in other words, how you want the animation to persist */
    animation-fill-mode: forwards;
  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* will make black lion disapper when voltron appears */
@keyframes zoom-black {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(150px, 150px)
  }
}

@keyframes zoom-red {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-150px, 150px)
  }
}

@keyframes zoom-blue {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(150px, -150px)
  }
}

@keyframes zoom-yellow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-150px, -150px)
  }
}

@keyframes zoom-green {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 300px)
  }
}