header {
  height: 80px;
  width: 100%;
  background-color: black;
  position: fixed;
  top:0;
}

header > div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  color: white;
  font-size: 38px;
  font-family: 'Turret Road', cursive;
  text-align: center;
}

.logo {
  height: 75px;
}

.nav-bar  {
  width: 20%;
  max-width: 250px;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Turret Road', cursive;
}

main {
  min-height: calc(100vh - 80px);
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(red, yellow, green, blue);
}

.lion-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.lion {
  height: 300px;
  width: 300px;
  border: 10px solid black;
  background-color: black;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  align-items: center;
}

.red {
  border-color: red;
  background-color: red;
}
.green {
  border-color: green;
  background-color: green;
}
.blue {
  border-color: blue;
  background-color: blue;
}
.yellow {
  border-color: yellow;
  background-color: yellow;
}

.lion img{
  width: 100%;
}

#voltron {
  display: none;
  width: 60%;
}

#nav-btn {
  display: none;
}